@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root {
  --Black: #000000;
  --White: #ffffff;
  --body-color: #ffffff;
  --Poppins: "Poppins";
  --Instrument-Serif: "Instrument Serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--Black);
  background-color: var(--body-color);
}

header {
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  max-width: 896px;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-family: var(--Instrument-Serif);
  font-size: 1.2rem;
  cursor: pointer;
  padding-top: 10px;
  font-weight: 600;
  color: var(--Black);
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 20px;
  cursor: pointer;
  font-family: var(--Instrument-Serif);
  padding-top: 5px;
  color: var(--Black);
}

.menu .work {
  padding-top: 10px;
}

.work p a {
  /* font-size: 15px; */
  font-size: 1.2rem;

  color: var(--Black);
  text-decoration: none;
}

.contact-btn {
  padding-top: 5px;
  cursor: pointer;
}

.contact-btn button {
  padding: 5px 20px;
  border-radius: 20px;
  font-family: var(--Instrument-Serif);
  font-size: 1rem;
  cursor: pointer;
}


.outer {
  background-color: var(--body-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle {
  max-width: 896px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #eaeaea 5px),
                    repeating-linear-gradient(#f5f5f555, #f0f0f0);
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 776px;
  width: 100%;
  background-color: var(--body-color);
}


.contact-section {
  padding: 3rem;
}

.contact{
  padding: 2rem 0;
}

.contact p{
  opacity: .4;
  font-size: 18px;
  font-family: var(--Instrument-Serif);
}

.contact h2{
  font-family: var(--Poppins);
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 50px;
}

.contact h2 span{
  font-weight: 500;
}

.contact h3{
  font-family: var(--Poppins);
  font-weight: 400;
  opacity: .4;
  font-size: 18px;
}

.info-mail{
  padding: 1rem 0;
}

.info-mail span{
  font-size: 2rem;
}

.info-mail a{
  text-decoration: none;
  color: var(--Black);
  font-size: 15px;
  font-family: var(--Poppins);
}

.info-phone span{
  font-size: 1.8rem;
}

.info-phone a{
  padding-left: 5px;
  text-decoration: none;
  color: var(--Black);
  font-size: 15px;
  font-family: var(--Poppins);
}




hr { opacity: 0.5; }


.contact-form {
  /* flex: 1; */
  /* min-width: 300px; */
  background: #fff;
  margin-top: 2rem ;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 10px 10px 10px 10px rgb(233, 230, 230);
}

.contact-form form input,
.contact-form form select,
.contact-form form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--Poppins);
}

.contact-form form textarea {
  resize: vertical;
}

.contact-form form button {
  padding: 15px 30px;
  font-size: 1rem;
  /* background: #007bff; */
  color: var(--Black);
  /* border: none; */
  border-radius: 30px;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

.contact-form form button:hover {
  background-color: rgb(211, 207, 207);
}


/* ===== Connect & Footer ===== */
.connect {
  padding: 2rem;
  background-color: var(--body-color);
}
.connect h3 {
  font-size: 2.5rem;
  font-family: var(--Instrument-Serif);
  opacity: 0.4;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--Black);
}

.connect h2{
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 500;
  font-size: 20px;
}

.connect p {
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 500;
  font-size: 15px;
  color: var(--Black);
}

.social {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.social a svg { color: var(--Black); }
.social a {
  color: var(--Black);
  text-decoration: none;
}

.footer {
  background-color: var(--body-color);
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.footer h3 {
  text-align: center;
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 500;
  font-size: 15px;
  color: var(--Black);
}

@media (max-width: 715px) {

    header {
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }


    nav {
    max-width: 896px;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}  

@media (max-width:430px){
  .connect h2{
    font-size: 18px;
    font-weight: 300;
  }
}