@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --anton: "Anton";
  --robot:  "Roboto Flex";
  --main-color: (#00F050);
  --body-color:(#212121);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  background-color: #212121;
}

/* body {
  overflow: hidden;
  cursor: none;
} */

.splash {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash h1 {
  font-size: 7rem;
  color: aliceblue;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #212121;
  display: none;
}


.nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem 4rem;
}

.menu-head {
  display: flex;
  gap: 40px;
}

.menu-head li {
  list-style: none;
}
.menu-head li:hover {
  border-bottom: 2px solid crimson;
  font-size: 1.5rem;
}

.menu-head li a {
  text-decoration: none;
  color: white;
}

.btn-menu-ct {
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  background-color: lightcyan;
}

.btn-menu-ct a {
  text-decoration: none;
  color: #000;
}

/* ================ hero-section================== */

.hero {
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.left {
  width: 50%;
  /* background-color: white; */
}

.left img{
  width: 600px;
  border-radius: 50%;

}

.right {
  width: 60%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  line-height: 35px;
}

.right h1 {
  font-family: var(--robot);
}

.right h1 span {
  font-family: var(--anton);
  letter-spacing: 4px;
  color: white;
  
  font-size: 5rem;
}

.right h1 {
  font-size: 2rem;
}

.right h1 span:hover {
  color:  #00f050;;
  font-size: 6rem;
}

.right h2{
  font-weight: 500;
  font-family: var(--robot);
}

.right p{
  font-family: var(--robot);
}

.right p span {
  color: #00f050;
  font-size: 2.5rem;
}

.actionbtn {
  display: flex;
  /* justify-content: center; */
  gap: 1.5rem;
  padding-top: 2rem;
}

.actionbtn a{
  text-decoration: none;
}

.git, .linkedin {
  border-style: none;
  padding: .5rem 2rem;
  /* background-color: #00f050; */
  border-radius: 20px;  
}

.git:hover, .linkedin:hover{
  background-color: #00f050;
}


/* ====================about-section========================= */


.about-section{
  width: 100%;
  height: 90vh;
  display: flex;
  /* background-color: bisque; */
}

.about-left{
  width: 40%;
  font-family: var(--anton);
  color: white;
  /* background-color: var(--body-color); */
  /* background-color: #00f050; */
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  
}

.about-right{
  width: 50%;
  /* background-color: violet; */
  padding-top: 5rem;
  font-family: var(--robot);
  color: white;
  font-size: 1.4rem;
  opacity: 0.4;
  /* text-align: center; */
  
}

.about-right p span:hover{
  color: #00F050;
  opacity: 0.9;
  
}











































/* MOUSE MAGNET */

.mouse-magnet {
  position: fixed; /* stays relative to viewport */
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background:#00f050;
  border-radius: 50%;
  z-index: 9999; /* higher than nav, main, etc */
  pointer-events: none; /* prevents blocking clicks */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}
