:root {
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    color: var(--white);
}

header{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    max-width: 1024px;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.menu{
  display: flex;
  gap: 20px
}