@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root {
  --Black: #000000;
  --White: #ffffff;
  --body-color: #ffffff;
  --Poppins: "Poppins";
  --Instrument-Serif: "Instrument Serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--Black);
  background-color: var(--body-color);
  overflow-x: hidden;
}

header {
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav {
  max-width: 896px;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-family: var(--Instrument-Serif);
  font-size: 1.2rem;
  cursor: pointer;
  padding-top: 10px;
  font-weight: 600;
  color: var(--Black);
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 20px;
  cursor: pointer;
  font-family: var(--Instrument-Serif);
  padding-top: 5px;
  color: var(--Black);
}

.menu .work {
  padding-top: 10px;
}

.work p a {
  /* font-size: 15px; */
  font-size: 1.2rem;

  color: var(--Black);
  text-decoration: none;
}

.contact-btn {
  padding-top: 5px;
  cursor: pointer;
}

.contact-btn button {
  padding: 5px 20px;
  border-radius: 20px;
  font-family: var(--Instrument-Serif);
  font-size: 1rem;
  cursor: pointer;
}


/* ===== Main Layout ===== */
.outer {
  background-color: var(--body-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle {
  max-width: 896px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #eaeaea 5px),
                    repeating-linear-gradient(#f5f5f555, #f0f0f0);
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 776px;
  width: 100%;
  background-color: var(--body-color);
}

/* Top image with shadow */
.image img {
  height: 300px;
  width: 776px;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.hero-section {
  background-color: var(--body-color);
  display: flex;
}

.dp-img {
  position: relative;
  bottom: 4rem;
  left: 2rem;
}

.dp-img img {
  height: 120px;
  border-radius: 50%;
  position: absolute;
}

.info {
  width: 100%;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: var(--Instrument-Serif);
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: var(--Black);
}

.info p {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--Poppins);
  opacity: 0.4;
  line-height: 30px;
  color: var(--Black);
}

.icons a svg {
  color: var(--Black);
  margin-right: 1rem;
}

.about {
  padding: 2rem;
  /* background-color: var(--body-color); */
}

.about p {
  font-family: var(--Poppins);
  color: var(--Black);
  font-size: 16px;
}

.para b{
  font-weight: 500;
}

.para {
  font-weight: 300;
}

hr { opacity: 0.5; }

.experience {
  padding-top: 2rem;
  padding-left: 2rem;
  /* background-color: var(--body-color); */
}

.experience h3 {
  padding-bottom: 1rem;
  font-family: var(--Instrument-Serif);
  font-weight: 500;
  opacity: 0.4;
  color: var(--Black);
  font-size: 2.5rem;

}

.experience h1 {
  font-family: var(--Poppins);
  font-weight: 300;
  color: var(--Black);
  font-size: 25px;
  opacity: .4;
}

.experience p{
  padding-right: 2rem;
  font-family: var(--Poppins);
  padding-bottom: 2rem;
  font-weight: 300;
  font-size: 16px;
}

.experience p span{
  font-weight: 500;
}

.tec-work {
  /* padding-left: 2rem; */
  /* height: 30vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  background-color: var(--body-color);
  font-family: var(--Poppins);
  color: var(--Black);
}

.tec-work h3{
  font-family: var(--Instrument-Serif);
  opacity: .4;
  padding-left: 2rem;
  padding-top: 2rem;
  font-weight: 500;
  font-size: 2.5rem;
  

}

.see-all-work{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 300;
}

.see-all-work h2{
    font-family: var(--Poppins);
    font-size: 25px;
    opacity: .4;
    font-weight: 300;
}


/* .see-work-btn{
  display: flex;
  justify-content: center;
  
} */

.see-work-btn a button{
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.box1{
    /* padding: 2rem 0; */
    background-color: var(--body-color);
}

.todo-img , .guess-number-img{
    display: flex;
    justify-content: center;
}



.box1 img{
    width: 90%;
    height: 400px;
    border-radius: 15px;
}

.box1 h2{
    padding: 1rem 2rem;
    font-family: var(--Poppins);
    font-size: 25px;
    opacity: .4;
    font-weight: 300;
}

.box1 p{
    padding: 1rem 2rem;
    font-family: var(--Poppins);
    /* opacity: .4; */
    font-size: 16px;
    font-weight: 300;
}

.todo-btn{
  padding: 2rem 2rem;
    display: flex;
    padding-top: 1rem;
    gap: 20px;
}

.live {
    padding: 5px 30px;
     /* padding: 5px 15px; */
  border-radius: 20px;
    
}

.live a{
    text-decoration: none;
    color: var(--Black);
}

.github{
     padding: 5px 30px;
     /* padding: 5px 15px; */
  border-radius: 20px;
    
}


.github a{
    text-decoration: none;
    color: var(--Black);
}



.stack {
  background-color: var(--body-color);
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.stack h3 {
  padding: 2rem 0;
  font-family: var(--Instrument-Serif);
  font-weight: 500;
  opacity: 0.4;
  color: var(--Black);
  font-size: 2.5rem;

}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.svg-icons {
  display: flex;
  gap: 3rem;
  animation: scrollLeft 20s linear infinite;
  width: max-content;
}

.svg-icons img {
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.svg-icons img:hover { opacity: .9; }

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* ===== Certifications ===== */
.Certifications {
  padding: 2rem;
  background-color: #ffffff; /* White background always */
}
.Certifications h1 {
  font-family: var(--Instrument-Serif);
  font-weight: 500;
  opacity: 0.4;
  color: var(--Black);
  font-size: 2.5rem;
  
}

.certificates {
  width: 100%;
  padding: 2rem 0;
}

.certificates h3{
  font-family: var(--Poppins);
  font-weight: 500;
  opacity: 0.4;
  color: var(--Black);
}

.meta {
  display: flex;
  padding-bottom: 2rem;
}

.left {
  width: 50%;
}
.left img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3); /* added shadow */
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right h2 {
  font-family: var(--Poppins);
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: var(--Black);
}

.right a { text-decoration: none; }

.meta-certi {
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  border-radius: 20px;
  border-style: none;
  font-family: var(--Poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.meta-certi svg { height: 20px; }
.meta-certi:hover { background-color: rgb(211, 207, 207); }

.linkedin-git {
  padding: 2rem 0;
  display: flex;
  flex-direction: row-reverse;
}

.hacker-rank {
  padding-top: 2rem;
  display: flex;
}

/* ===== Connect & Footer ===== */
.connect {
  padding: 2rem;
  background-color: var(--body-color);
}
.connect h3 {
  font-size: 20px;
  font-family: var(--Instrument-Serif);
  opacity: 0.4;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--Black);
  font-size: 2.5rem;
}

.connect h2{
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 300;
  font-size: 25px;

}

.connect p {
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 500;
  font-size: 15px;
  color: var(--Black);
}

.social {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.social a svg { color: var(--Black); }
.social a {
  color: var(--Black);
  text-decoration: none;
}

.footer {
  background-color: var(--body-color);
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.footer h3 {
  text-align: center;
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 500;
  font-size: 15px;
  color: var(--Black);
}


@media (max-width: 715px) {

    header {
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }


    nav {
    max-width: 896px;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .Certifications {
  padding: 2rem;
  background-color: #ffffff; /* White background always */
}
.Certifications h3 {
  font-family: var(--Instrument-Serif);
  font-weight: 500;
  opacity: 0.4;
  color: var(--Black);
}

.certificates {
  width: 100%;
  padding: 2rem 0;
}

.certificates h3{
  font-family: var(--Poppins);
}

.meta {
  display: flex;
  padding-bottom: 2rem;
}

.left {
  width: 50%;
}
.left img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3); /* added shadow */
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right h2 {
  font-family: var(--Poppins);
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: var(--Black);
  font-size: 20px;
}

.right a { text-decoration: none; }

.meta-certi {
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  border-radius: 20px;
  border-style: none;
  font-family: var(--Poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.meta-certi svg { height: 20px; }
.meta-certi:hover { background-color: rgb(211, 207, 207); }

.linkedin-git {
  padding: 2rem 0;
  display: flex;
  flex-direction: row-reverse;
}

.hacker-rank {
  padding-top: 2rem;
  display: flex;
}


}


@media (max-width: 615px) {

body{
  overflow-x: hidden;
}

.meta {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 2rem;
  gap: 30px;
}

.meta .left{
  width: 100%;
}

.meta .left img{
  width: 100%;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkedin-git{
    display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 2rem;
  gap: 30px;
}

.linkedin-git .left{
  width: 100%;
}

.hacker-rank{
    display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 2rem;
  gap: 30px;
}

.hacker-rank .left{
  width: 100%;
}


}



@media (max-width:430px) {
.icons a svg{
  margin-right: 0rem;
}

.connect h2{
  font-size: 20px;
}

}

@media (max-width:385px) {

.name {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
  }


 .icons a svg {
    width: clamp(18px, 4vw, 16px);
    height: clamp(18px, 4vw, 16px);
    
  }

.hero p {
  font-size: 12px;
  font-weight: 700;
  font-family: var(--Poppins);
  opacity: 0.4;
  line-height: 30px;
  color: var(--Black);

}
  
}

@media (max-width:336px){
  .icons a svg{
    display: none;
  }
}