@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root {
  --Black: #000000;
  --White: #ffffff;
  --body-color: #ffffff;
  --Poppins: "Poppins";
  --Instrument-Serif: "Instrument Serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--Black);
  background-color: var(--body-color);
}

header {
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  max-width: 896px;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-family: var(--Instrument-Serif);
  font-size: 1.2rem;
  cursor: pointer;
  padding-top: 10px;
  font-weight: 600;
  color: var(--Black);
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 20px;
  cursor: pointer;
  font-family: var(--Instrument-Serif);
  padding-top: 5px;
  color: var(--Black);
}

.menu .work {
  padding-top: 10px;
}

.work p a {
  /* font-size: 15px; */
  font-size: 1.2rem;

  color: var(--Black);
  text-decoration: none;
}

.contact-btn {
  padding-top: 5px;
  cursor: pointer;
}

.contact-btn button {
  padding: 5px 20px;
  border-radius: 20px;
  font-family: var(--Instrument-Serif);
  font-size: 1rem;
  cursor: pointer;
}

.outer {
  background-color: var(--body-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle {
  max-width: 896px;
  /* height: 100vh; */
  width: 100%;
  background-color: #ffffff;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #eaeaea 5px),
                    repeating-linear-gradient(#f5f5f555, #f0f0f0);
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 776px;
  width: 100%;
}

.inner h1{
    background-color: var(--body-color);
    text-align: center;
    padding: 4rem;
    font-family: var(--Instrument-Serif);
    font-size: 3.5rem;
}

hr { opacity: 0.5; }

.box1{
    padding: 2rem;
    background-color: var(--body-color);
    width: 100%;
}

.ip-img, .todo-img {
    display: flex;
    justify-content: center;
}

.pig-img{
  display: flex;
  justify-content: center;
}

.credit-card-img{
  display: flex;
  justify-content: center;
}

.guess-number-img{
  display: flex;
  justify-content: center;
}

.huddle-img{
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 30px 5px rgb(190, 187, 187);
  border-radius: 15px;

}


.box1 img{
    /* padding: 2rem; */
    /* width: 600px; */
    width: 100%;
    height: 400px;
    border-radius: 15px;
}

.box1 h3{
    padding-top: 2rem;
    font-family: var(--Instrument-Serif);
    font-size: 2rem;
}

.box1 p{
    padding-top: 1rem;
    font-family: var(--Poppins);
    opacity: .4;
    font-size: 18px;
    font-weight: 500;
}

.ip-btn , .todo-btn , .pig-btn , .credit-card-btn , .huddle-btn{
    display: flex;
    padding-top: 1rem;
    gap: 20px;
}

.live {
    padding: 5px 30px;
     /* padding: 5px 15px; */
  border-radius: 20px;
    
}

.live a{
    text-decoration: none;
    color: var(--Black);
}

.github{
     padding: 5px 30px;
     /* padding: 5px 15px; */
  border-radius: 20px;
    
}

.live:hover , .github:hover{
  background-color: rgb(211, 207, 207);
}

.github a{
    text-decoration: none;
    color: var(--Black);
}




.connect {
  padding: 2rem;
  background-color: var(--body-color);
}
.connect h3 {
  font-size: 2.5rem;
  font-family: var(--Instrument-Serif);
  opacity: 0.4;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--Black);
}

.connect h2{
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 500;
  font-size: 20px;
}

.connect p {
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 500;
  font-size: 15px;
  color: var(--Black);
}

.social {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.social a svg { color: var(--Black); }
.social a {
  color: var(--Black);
  text-decoration: none;
}

.footer {
  background-color: var(--body-color);
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.footer h3 {
  font-family: var(--Poppins);
  opacity: 0.4;
  font-weight: 500;
  font-size: 15px;
  color: var(--Black);
  text-align: center;
}




@media (max-width: 715px) {
    header {
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }


    nav {
    max-width: 896px;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}


@media (max-width:650px) {
  
.box1{
    padding: 2rem;
    background-color: var(--body-color);
    width: 100%;
}

.ip-img , .todo-img {
    display: flex;
    justify-content: center;
    width: 100%;
}



.box1 img{
    /* padding: 2rem; */
    width: 90%;
    height: 300px;
    border-radius: 15px;
}


.ip-address , .todo , .credit-card-page , .huddle, .pig-game , .guess-number{
  padding-left: 2rem;
  width: 90%;
}

.box1 h3{
    padding-top: 2rem;
    font-family: var(--Instrument-Serif);
    font-size: 2rem;
}

.box1 p{
    padding-top: 1rem;
    font-family: var(--Poppins);
    opacity: .4;
    font-size: 15px;
    font-weight: 400;
}

.ip-btn , .todo-btn{
    display: flex;
    padding-top: 1rem;
    gap: 20px;
}

.live {
    padding: 5px 30px;
     /* padding: 5px 15px; */
  border-radius: 20px;
    
}

.live a{
    text-decoration: none;
    color: var(--Black);
}

.github{
     padding: 5px 30px;
     /* padding: 5px 15px; */
  border-radius: 20px;
    
}


.github a{
    text-decoration: none;
    color: var(--Black);
}


.connect{
  padding-left: 4rem;
}

.connect h3{
  font-size: 2.5rem;
}


}

@media (max-width:430px){
  .connect h2{
    font-size: 18px;
    font-weight: 300;
  }
}